@page "/bookcard"
@using BlazorAppBookXchange.Components.EditionComponents.EditionLists
@using BlazorAppBookXchange.Models

@if (bookList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<div class="d-grid gap-3">*@
        <div class="d-flex flex-column flex-lg-row gap-3">
        @foreach (var book in bookList)
        {

                <div class="card mb-6" style="min-width: 300px; max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
@*                            <img src="..." class="img-fluid rounded-start" alt="...">
*@                            <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                            </svg>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@book.Titre</h5>
                                <p class="card-text">@book.Auteur</p>
                                <p class="card-text">@book.Synopsis</p>
                                <p class="card-text"><small class="text-muted">Disponible</small></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
}

@if (IdSelectedBook != 0)
{
    <EditionList IdSelectedBook="@IdSelectedBook" TitreSelectedBook="@TitreSelectedBook"></EditionList>
}
else
{
    <p>Aucun livre sélectionné</p>
}
