@page "/exemplairelist"


@using BlazorAppBookXchange.Components.Modals
@using BlazorAppBookXchange.Components.ToolTip
@using BlazorAppBookXchange.Models
@*@using BlazorAppBookXchange.Components.ExemplaireCard
*@

@if(IdSelectedBook != 0)
{
    <h3>Exemplaires du livre sélectionné</h3>
}
        
@*        <p>IdSelectedBook : @IdSelectedBook</p>
        <p>Livre sélectionné : @TitreSelectedBook</p>
*@

@*        <button class="btn btn-primary" @onclick="ShowEditionsByBook">Livre sélectionné : @TitreSelectedBook <br /> Cliquez ici pour lancer la recherche</button>
*@

<div class="" style="overflow-wrap: break-word; margin: 3px;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" colspan="2">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col"colspan="4">Synopsis</th>
                
@*                @if(accountManager.IsTokenPresent)
                {
                    <th>Actions</th> 
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>                  
                }
*@            </tr>
        </thead>
        <tbody>
            @if (exemplairesList == null)
            {
            <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var exemplaire in exemplairesList)
                {
                    <tr style="padding-top: 1em; padding-bottom: 1em;">
                        <td class="align-middle" >
                            <ToolTip Text="Afficher / masquer les détails de cet exemplaire">
                                <i class="bi bi-info-circle" @onclick="() => SetSelected(exemplaire)" style="cursor:pointer;"></i> 
                            </ToolTip>
                        </td>
                        <td class="align-middle" colspan="2">@exemplaire.Titre</td>
                        <td class="align-middle">@exemplaire.Auteur</td>
                        <td class="align-middle" colspan="4">@(exemplaire.Synopsis.Substring(0,exemplaire.Synopsis.Length > 150 ? 150 : exemplaire.Synopsis.Length)) @(exemplaire.Synopsis.Length > 40 ? "(...)" : "")</td>
                    </tr>



                    @if(exemplaire.IsRowExpanded)
                    {
                        <tr class="table-primary">
                            <th scope="col">Parution</th>
                            <th scope="col">Format</th>
                            <th scope="col" colspan="2">Isbn</th>
                            <th scope="col">Status</th>
                            <th scope="col">Xchange</th>
                            <th scope="col">Id Membre</th>
                            <th scope="col">Id X</th>

                        </tr>
                        <tr style="border-bottom: 2px solid black;">
                            <td class="align-middle">@exemplaire.Parution.ToString("dd/MM/yyyy")</td>
                            <td class="align-middle">@exemplaire.Format</td>
                            <td class="align-middle" colspan="2">@exemplaire.Isbn</td>
                            <td class="align-middle">Disponible</td>
                            <td class="align-middle">
                                <boutton class="btn-sm btn-success" @onclick="() => OpenXchangeDialog(exemplaire)" style="cursor:pointer;">
                                    Xchange
                                </boutton>
                            </td>
                            <td class="align-middle">@exemplaire.IdMembre</td>
                            <td class="align-middle">@exemplaire.IdExemplaire</td>
                        </tr>
                    }          

                        @* <td @onclick='() => SetSelected(exemplaire.IdEdition)' style="cursor:pointer;">Voir exemplaires</td>
*@

@*                    @if (accountManager.IsTokenPresent)
                    {
                        <td class="align-middle">
                            <button type="button" class="btn btn-info">Update</button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    }*@
                }
            }

            @if (exemplairesByBookList == null)
            {
            <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var exemplaire in exemplairesByBookList)
                {
                    <tr>
                        <td class="align-middle">@exemplaire.IdExemplaire</td>
                        <td class="align-middle">@exemplaire.IdLivre</td>
                        <td class="align-middle">@exemplaire.Titre</td>
                        <td class="align-middle">@exemplaire.Format</td>
                        <td class="align-middle">@exemplaire.IdMembre</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-info">Update</button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
@*                        <td @onclick='() => SetSelected(exemplaire.IdEdition)' style="cursor:pointer;">Voir exemplaires</td>
*@                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (XchangeDialogOpen)
{
    // Appel de ModalDialog, passage du Parameter de OnClose delegate (pointe vers la méthode privée OnDeleteDialogClose)
    <ModalDialog DialogType="ModalDialog.ModalDialogType.OkCancel" Title="Valider ou annuler" Text="Confirmez-vous demander l'échange de cet exemplaire ? (accès membre identifié)" OnClose="@OnXchangeDialogClose"></ModalDialog>
}

@*
    @if(IdSelectedEdition !=0)
    {
        <ExemplaireCard Text="@IdSelectedEdition.ToString()" IdSelectedEdition="@IdSelectedEdition"></ExemplaireCard>
    }
*@
