@page "/booklist"
@using BlazorAppBookXchange.Components.CollapsibleWrappers
@using BlazorAppBookXchange.Components.EditionComponents
@using BlazorAppBookXchange.Components.EditionComponents.EditionLists
@using BlazorAppBookXchange.Components.ExemplaireComponents.ExemplaireLists
@using BlazorAppBookXchange.Components.ToolTip
@using BlazorAppBookXchange.Models

<div class="d-flex flex-column flex-lg-row">
    <div class="col-6">
        @if (bookList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-striped" style="border-right: 1px solid rebeccapurple">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Synopsis</th>
                        <th>Détails</th>
@*                        @if (_accountManager.IsTokenPresent)
                        {
                            <th>Actions</th>
                        }
*@                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in bookList)
                    {
                        <tr class="book-row">
                            <td>@book.Titre</td>
                            <td>@book.Auteur</td>
                            <td>@book.Synopsis</td>
                            <td>
                                <ToolTip Text="Voir les éditions de ce livre">
                                    <i class="bi bi-info-circle" @onclick='() => ShowEditionsByBook(book)' style="cursor:pointer;"></i>
                                </ToolTip>.
                                <ToolTip Text="Voir les exemplaires de ce livre">
                                    <i class="bi bi-book" @onclick='() => ShowExemplairesByBook(book)' style="cursor:pointer;"></i>
                                </ToolTip>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-6">
        @if (_ShowEditions)
        {
            <EditionListByLivre SelectedBook="@_selectedBook" IdSelectedBook="@IdSelectedBook" TitreSelectedBook="@TitreSelectedBook"></EditionListByLivre>

        }
            
        @if (_ShowExemplaires)
        {
            <ExemplaireListByLivre SelectedBook="@_selectedBook" IdSelectedBook="@IdSelectedBook" TitreSelectedBook="@TitreSelectedBook"></ExemplaireListByLivre>
        }
    </div>
</div>




