@page "/exemplaireCard"
@using BlazorAnimate
@using BlazorAppBookXchange.Components.ExemplaireComponents
@using BlazorAppBookXchange.Models

@if (exemplairesList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<div class="d-grid gap-3">*@
    <div class="d-flex flex-column flex-lg-row gap-3">
        @foreach (var exemplaire in exemplairesList)
        {
            @if (!exemplaire.IsCardFlipped)
            {
                <Animate Animation="Animations.FlipRight" Duration="TimeSpan.FromSeconds(0.5)" @ref="animateFlip" IsManual="false">
                    <div class="card mb-6" style="min-width: 300px; max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
        @*                            <img src="..." class="img-fluid rounded-start" alt="...">
        *@                            <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                                </svg>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@exemplaire.Titre</h5>
                                    <p class="card-text">@exemplaire.Auteur</p>
                                    <p class="card-text">@exemplaire.Synopsis</p>
                                    <p class="card-text"><small class="text-muted">Disponible</small></p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>                           
                                      <boutton class="btn-sm btn-primary" @onclick="() => SetSelectedCard(exemplaire)" style="cursor:pointer;">
                                          <i class="bi bi-eye-fill text-info"></i>Voir détails
                                      </boutton>
                                </div>
                            </div>
                        </div>
                    </div>
                </Animate>
            }
            @if (exemplaire.IsCardFlipped)
            {
                <Animate Animation="Animations.FlipLeft" Duration="TimeSpan.FromSeconds(0.5)" @ref="animateFlip" IsManual="false">
                    <div class="card mb-6" style="min-width: 300px; max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
        @*                            <img src="..." class="img-fluid rounded-start" alt="...">
        *@                            <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                                </svg>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@exemplaire.Isbn</h5>
                                    <p class="card-text">@exemplaire.Parution</p>
                                    <p class="card-text">@exemplaire.Format</p>
                                    <p class="card-text">@exemplaire.IdMembre</p>
    @*                                <p class="card-text"><small class="text-muted">Disponible</small></p>
    *@                                <a href="#" class="btn btn-primary">Go somewhere</a>

                                  <boutton class="btn-sm btn-primary" @onclick="() => SetSelectedCard(exemplaire)" style="cursor:pointer;">
                                      <i class="bi bi-eye text-primary"></i>Voir Résumé
                                  </boutton>
                                </div>
                            </div>
                        </div>
                    </div>
                </Animate>
            }
    }
    </div>
}

@*@if (IdSelectedExemplaire != 0)
{
    <EditionList IdSelectedExemplaire="@IdSelectedExemplaire" TitreSelectedExemplaire="@TitreSelectedExemplaire"></EditionList>
}
else
{
    <p>Aucun livre sélectionné</p>
}
*@

@*<BlazorAppBookXchange.Components.ExemplaireComponents.ExemplaireLists.ExemplaireList></BlazorAppBookXchange.Components.ExemplaireComponents.ExemplaireLists.ExemplaireList>*@