<div class="container-fluid">
@if(!isEditing)
{
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
    
        <div class="col-md-4">
          <img src="https://avatars.githubusercontent.com/u/82599533?s=400&u=e8202244ad8c3c8493814368782a6d09e47a993a&v=4" class="img-fluid rounded-start try" alt="...">
        </div>
    
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Role de membre: @connectedMember.Role</h5>
            <h3 class="card-header">@connectedMember.Pseudo</h3>
            <p class="card-text">Mordu de lecture, toujours assoiffé de connaissances et partageur d'histoires sans fin...</p>
            <p class="card-text"><small class="text-muted">En ligne depuis...</small></p>

            <boutton class="btn btn-primary" @onclick="() => ToggleEditing()">Editer</boutton>
          </div>
        </div>

      </div>
    </div>
}
else
{
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">

        <div class="col-md-4">
          <img src="../images/placeholder-user-icon.png" class="img-fluid rounded-start try" alt="..." style="cursor: pointer;">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Role de membre: @connectedMember.Role</h5>
            <h3 class="card-header">@connectedMember.Pseudo</h3>
    @*        <h3 class="card-header">@connectedMember.Pseudo</h3>
    *@
    @*        <p class="card-text">@connectedMember.Nom</p>
            <p class="card-text">@connectedMember.Prenom</p>
    *@
            <p class="card-text"><small class="text-muted">Membre depuis...</small></p>      
            <boutton class="btn btn-primary" @onclick="() => ToggleEditing()">Editer</boutton>

          </div>
        </div>

      </div>
    </div>
}
</div>
