@page "/editionlist"
@using BlazorAppBookXchange.Models
@using BlazorAppBookXchange.Pages.ExemplaireCard
@*@using BlazorAppBookXchange.Components.ExemplaireCard
*@

@if(IdSelectedBook != 0)
{
    <h3>Editions du livre sélectionné</h3>
}
        
@*        <p>IdSelectedBook : @IdSelectedBook</p>
        <p>Livre sélectionné : @TitreSelectedBook</p>
*@

        <button class="btn btn-primary" @onclick="ShowEditionsByBook">Livre sélectionné : @TitreSelectedBook <br /> Cliquez ici pour lancer la recherche</button>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Date de parution</th>
                <th>Format</th>
                <th>Id Edition</th>
                
                @if(accountManager.IsTokenPresent)
                {
                    <th>Actions</th>
                    
                }
            </tr>
        </thead>
        <tbody>
            @if (editionsList == null)
            {
            <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var edition in editionsByBookList)
                {
                    <tr>
                        <td>@edition.Isbn</td>
                        <td>@edition.Parution</td>
                        <td>@edition.Format</td>
                        <td>@edition.IdEdition</td>
                        <td @onclick='() => SetSelected(edition.IdEdition)' style="cursor:pointer;">Voir exemplaires</td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @if(IdSelectedEdition !=0)
    {
        <ExemplaireCard Text="@IdSelectedEdition.ToString()" IdSelectedEdition="@IdSelectedEdition"></ExemplaireCard>
    }

